.gtav-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gtav-cont figure {
  position: relative;
  height: 250px;
  cursor: pointer;
  width: 350px;
  overflow: hidden;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
.gtav-cont figure img {
  width: 100%;
  height: 100%;
  transition: all 400ms ease-out;
  will-change: transform;
}
.gtav-cont figure .layer {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(190, 106, 9, 0.7);
  transition: all 400ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
.gtav-cont figure .layer h3 {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
}
.gtav-cont figure .layer p {
  color: #fff;
  font-weight: 400;
  margin-bottom: 120px;
  transition: all 400ms ease-out;
  margin-top: 30px;
}
.gtav-cont figure:hover > .layer {
  opacity: 1;
  visibility: visible;
}
.gtav-cont figure:hover > .layer h3 {
  margin-top: 70px;
  margin-bottom: 15px;
}
.gtav-cont figure:hover > img {
  transform: scale(1.3);
}

#body-main section img {
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
#body-main .article-text {
  font-family: "PT Sans Narrow", sans-serif;
  text-align: justify;
  margin-top: 5px;
}
#body-main .main-video {
  max-width: 100%;
}

.rdo-image {
  max-width: 100%;
  max-height: 100%;
}

main section {
  margin-bottom: 2vh;
}
main section article img {
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
  margin-bottom: 1vh;
}
main section article h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
}
main section article h2 {
  margin-top: 3vh;
  font-family: "Bebas Neue", cursive;
  text-align: center;
}
main section article h3 {
  font-family: "Playfair Display", serif;
}
main section article p {
  font-family: "PT Sans Narrow", sans-serif;
}
main section article span {
  font-weight: bold;
}
main section article ul li {
  font-family: "PT Sans Narrow", sans-serif;
}

#contact-body {
  font-family: Arial, Helvetica, sans-serif;
}
#contact-body h1 {
  font-family: "Bebas Neue", cursive;
}
#contact-body h2 {
  font-family: Arial, Helvetica, sans-serif;
}
#contact-body .form-contact {
  background: #FFF;
  width: 40vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.8);
}
#contact-body .form-header {
  position: relative;
  width: 100%;
  background: #ffad00;
  overflow: hidden;
  color: white;
}
#contact-body .form-header span {
  font-size: 100px;
  display: block;
  text-align: center;
  padding: 2.5rem;
}
#contact-body .form-header img {
  max-height: 100%;
  position: absolute;
  right: 38%;
  top: 8%;
  width: 20%;
}
#contact-body .contact {
  padding: 0.8rem;
  overflow: hidden;
  color: gray;
}
#contact-body .contact label, #contact-body .contact input, #contact-body .contact textarea {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}
#contact-body .contact label {
  font-weight: 700;
}
#contact-body input[type=number]::-webkit-inner-spin-button,
#contact-body input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#contact-body input[type=number] {
  -moz-appearance: textfield;
}
#contact-body .contact input:not([type=submit]), #contact-body .contact textarea {
  border: none;
  border-bottom: 2px solid #ffad00;
  margin-bottom: 10px;
  font-size: 20px;
  outline: none;
  color: gray;
}
#contact-body .contact textarea {
  min-height: 100px;
}
#contact-body input[type=submit] {
  padding: 10px;
  background: #ffad00;
  border: none;
  color: white;
  font-size: 20px;
  /* pointer-events: none; */
  cursor: pointer;
}

#career-body main h1 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
#career-body main h2 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
#career-body main section {
  margin-top: 2vh;
}
#career-body main section img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.5);
}
#career-body main section p {
  margin-top: 1vh;
}
#career-body main section .progress {
  margin-bottom: 2vh;
}

header .blackbg {
  background-color: black;
}
header button {
  background-color: black;
  border: 0px;
}
header .usericon {
  width: 50px;
  border-radius: 50%;
}
header .orange-c {
  background-color: #ffad00;
}

body {
  position: relative;
  min-height: 100vh;
  padding-bottom: 6em;
}
body img {
  max-width: 100%;
}
body main {
  margin-top: 10vh;
}
body main .read-button {
  text-align: center;
}
body main .read-button .read-more a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
body main .title-font {
  font-family: "Bebas Neue", cursive;
}
body main .read-button {
  text-align: center;
}
body main .read-button:hover {
  transform: scale(1.2);
}
body main .orange-c {
  background-color: #ffad00;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: black;
  height: 5vh;
}
footer a {
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  font-family: "Nanum Gothic", sans-serif;
}

/*# sourceMappingURL=styles.css.map */
